*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.not_foundDIV{
  position: relative;
  top: 80px;

  display: flex;
  justify-content: center;
  /* align-items: stretch; */

  width: 100vw;
  max-width: 100%;
  padding: 15px;
}
.notFound{
  color: #f2f2f2;
}
