.itemListContainer{
    position: absolute;
    top: 80px;
    left: 0;

    display: flex;
    justify-content: center;
    /* align-items: stretch; */

    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
    padding: 15px;

    background-color: #242424;
}