.growLimit {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    min-height: 100%;
    width: 100%;
    max-width: 1128px;
}
.growLimitNavbar {
    position: absolute;
    justify-content: space-between;

    min-height: 80px;
    padding: 0 20px;
}

/*NAVBAR*/
.navbar {
    position: fixed;
    z-index: 3000;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80px;
    width: 100vw;
    max-width: 100%;
    margin: auto;

    
}
.navbar::before{
    content:" ";
    position:absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 34, 34, 0.75);
    backdrop-filter: blur(5px);
}

.logoDIV {
    display: flex;
    justify-content: center;
    align-items: center;
}
.storeLogo{
    height: 72px;

    user-select: none;
}

.tabs {
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 3050;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: calc(100vh - 80px);
    width: clamp(180px, 60%, 530px);

    transition: transform 600ms ease-out;
    transform-origin: right;
    transform: scaleX(0);
    /* background-color: rgba(242, 242, 242, 0.5); */
}

.tabs-active {
    transform: scaleX(100%);
    /* backdrop-filter: blur(5px); */
}

.tabLI {
    position: relative;
    z-index: 2000;

    list-style: none;
    opacity: 0;
}

.tabLIA:hover {
    opacity: .5;
}

.tabLIA {
    position: relative;
    z-index: 3200;

    color: #f2f2f2;
    user-select: none;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;

    transition: color .3s, opacity .3s;
}
:global(.active){
    font-size: 20px;
    text-decoration: underline;
}

.widgetsDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.burger {
    display: block;
    cursor: pointer;
    z-index: 3200;
}
.line {
    width: 25px;
    height: 3px;
    margin: 5px;

    background-color: #f2f2f2;
    transition: transform 500ms ease, opacity 500ms ease;
}
.burger-active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-active .line2 {
    opacity: 0;
}
.burger-active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.exitModal {
    display: none;
}
.exitModal-active {
    display: block;
    position: absolute;
    z-index: 2900;
    top: 0;
    left: 0;

    background-color: #00000080;
    width: 100vw;
    height: 100vh;
}

/* -----MOBILE TABS----- */
.mobileTabs {
    position: fixed;
    top: 80px;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: calc(100vh - 80px);
    width: clamp(180px, 60%, 530px);

    background-color: rgba(33, 34, 34, 0.75);
    backdrop-filter: blur(5px);
}
.mobileTabLI {
    list-style: none;
}
.mobileTabLIA {
    color: #f2f2f2;
    user-select: none;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;

    transition: color .3s, opacity .3s;
}
/* -----END MOBILE TABS----- */

@media screen and (min-width: 700px) {
    .tabs {
        position: relative;
        inset: 0;

        flex-direction: row;

        min-height: 0;
        width: 50%;

        transform: scaleX(1);
        /* background-color: rgba(245, 222, 179, 0); */
    }
    .tabLI {
        opacity: 1;
    }
    .burger {
        display: none;
    }

    .mobileTabs{
        display: none;
    }
}

@keyframes linksFadeIn {
    0% {
        opacity: 0;
        transform: translate(80px, -15px) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: translate(0) rotate(0);
    }
}
/*FIN NAVBAR*/