.ItemDetailContainer{
    position: absolute;
    inset: 0;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(80, 59, 59, 0.35);
    backdrop-filter: blur(5px);
}