.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;

    /* background-color: lightblue; */
}
.button{
    color: #f2f2f2;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 168px;
    
    /* background-color: brown; */
}
.buttonsControls{
    justify-content: center;
}