.checkOutContainer {
    position: relative;
    top: 80px;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    max-width: 100%;
    padding: 15px;
}

.growLimit {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    width: 100%;
    max-width: 1128px;
}

/*FORM*/
.loginBox {
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.loginBox h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.userBox {
    position: relative;
}

:global(.userInput) {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

:global(.userLabel) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

:global(.userInput):focus ~ :global(.userLabel),
:global(.userInput):active ~ :global(.userLabel),
:global(.userInput):valid ~ :global(.userLabel) {
    top: -20px;
    left: 0;
    font-size: 12px;
}
/*END FORM*/

.priceboxContainer {
    position: sticky;
    top: 95px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 27%;
    min-width: 260px;
    height: 215px;
    padding: 20px 24px;

    background-color: #f2f2f2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productsAmountContainer {
    display: flex;
    justify-content: space-between;
}

.comprarBTN {
    width: 100%;

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #f2f2f2;
    cursor: pointer;
    transition: border-color 0.25s;
}

.comprarBTN:hover {
    border-color: #646cff;
}