.cartListContainer{
    position: relative;
    top: 80px;

    display: flex;
    justify-content: center;
    /* align-items: stretch; */

    width: 100vw;
    max-width: 100%;
    padding: 15px;
}

.cartItemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(254px, 1fr));

    gap: 10px;

    width: 100%;
    max-width: 1128px;

    /* background-color: red; */
}